@import 'tailwindcss';

@theme {
  --font-cairo: var(--font-cairo);
  --font-tomorrow: var(--font-tomorrow);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --breakpoint-xs: 360px;
}

:root {
  font-size: clamp(0.75rem, 1.5vw + 0.25rem, 0.9rem);
  @media (450px < width <= 768px) {
    font-size: clamp(1rem, 1.5vw + 0.5rem, 1.25rem);
  }
  @media (width <= 450px) {
    font-size: clamp(0.875rem, 2.5vw + 0.5rem, 0.9rem);
  }
  --background: #f9f3ff;
  --foreground: #210b35; /* slate-900 */

  --primary: #581598;
  --primary-foreground: #f9f3ff;

  --secondary: #e2c5fe; /* slate-100 */
  --secondary-foreground: #210b35;

  --muted: #f5ebff; /* slate-100 */
  --muted-foreground: #210b35; /* slate-500 */

  --accent: #f5ebff; /* slate-100 */
  --accent-foreground: #210b35;

  --destructive: #ec5b5b; /* red-500 */
  --destructive-foreground: #ffffff;

  --border: #d6c4e7; /* slate-200 */
  --input: #ffffff;
  --ring: #581598;

  --radius: 0.5rem;

  --screen-width: 100vw;
}

@layer base {
  html,
  body {
    @apply scroll-smooth;
  }
  body,
  body > div {
    @apply bg-background text-foreground relative min-h-screen;
  }
  body::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.4;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    filter: contrast(120%) brightness(100%);
  }
}

a,
button {
  cursor: pointer;
}
